openapi: "3.1.0"
info:
  title: NAV Trekkopplysning API
  description: |
    API for innrapportering av trekkopplysninger til NAV.

    Tilgang krever et gyldig Maskinporten-token med scope `nav:utbetaling/trekkopplysning/innmelding`.

    ## Flyt

    1. Send trekkopplysningsmelding med `POST /v1/innrapportering`.
    2. Tjenesten returnerer HTTP 202 med en `Location`-header som peker til ressursen.
    3. Poll `GET /v1/innrapportering/{id}` til meldingen er ferdigbehandlet (`ACCEPTED` eller `REJECTED`).
  version: "1.0"
servers:
  - url: https://ekstern-trekk-api.ekstern.nav.no
    description: Produksjon
  - url: https://ekstern-trekk-api.ekstern.dev.nav.no
    description: Test
paths:
  /v1/innrapportering:
    post:
      summary: Send trekkopplysningsmelding
      description: |
        Mottar en trekkopplysningsmelding i XML-format og sender den til behandling.
        Tjenesten genererer en unik ID og returnerer den i `Location`-headeren.

        Meldingen sendes som XML i henhold til `MsgHead-v1_2.xsd`
        (`http://www.kith.no/xmlstds/msghead/2006-05-24`)
        med innhold etter `InnrapporteringTrekk-2010-02-04.xsd`
        (`http://www.kith.no/xmlstds/nav/innrapporteringtrekk/2010-02-04`).
      operationId: postInnrapportering
      security:
        - maskinporten: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
            examples:
              trekkopplysning:
                summary: Innrapportering av nytt trekk
                value: |
                  <MsgHead xmlns="http://www.kith.no/xmlstds/msghead/2006-05-24">
                    <MsgInfo>
                      <Type V="INNRAPPORTERING_TREKK" DN="Innrapportering av trekk til NAV"/>
                      <MIGversion>v1.2 2006-05-24</MIGversion>
                      <GenDate>2026-03-06T15:22:35Z</GenDate>
                      <MsgId>7f41c4e9-b6bd-44a3-822b-622332b4e421</MsgId>
                      <Ack V="N" DN="Nei"/>
                      <Sender>
                        <Organisation>
                          <OrganisationName>TEST ORG</OrganisationName>
                          <Ident>
                            <Id>000000000</Id>
                            <TypeId V="ENH" S="2.16.578.1.12.4.1.1.9051" DN="Organisasjonsnummer"/>
                          </Ident>
                        </Organisation>
                      </Sender>
                      <Receiver>
                        <Organisation>
                          <OrganisationName>NAV IKT</OrganisationName>
                          <Ident>
                            <Id>79768</Id>
                            <TypeId V="HER" S="2.16.578.1.12.4.1.1.9051" DN="HER-id"/>
                          </Ident>
                        </Organisation>
                      </Receiver>
                      <Patient>
                        <FamilyName>SEILBÅT</FamilyName>
                        <GivenName>DEMOKRATISK</GivenName>
                        <Sex V="2" DN="Kvinne"/>
                        <Ident>
                          <Id>12345678910</Id>
                          <TypeId V="FNR" S="2.16.578.1.12.4.1.1.8116" DN="Fødselsnummer"/>
                        </Ident>
                      </Patient>
                    </MsgInfo>
                    <Document>
                      <ContentDescription>Innrapportering av trekk til NAV</ContentDescription>
                      <RefDoc>
                        <IssueDate V="2026-03-06T15:22:35Z"/>
                        <MsgType V="XML" DN="XML-instans"/>
                        <Content>
                          <InnrapporteringTrekk
                            xmlns="http://www.kith.no/xmlstds/nav/innrapporteringtrekk/2010-02-04"
                            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                            xsi:schemaLocation="http://www.kith.no/xmlstds/nav/innrapporteringtrekk/2010-02-04 InnrapporteringTrekk-2010-02-04.xsd">
                            <Aksjonskode DN="Nytt trekk" V="NY"/>
                            <Identifisering>
                              <KreditorTrekkId>ee387905-4b77-47c2-9fba-e21847525c3e</KreditorTrekkId>
                              <DebitorId>
                                <Id>12345678901</Id>
                                <TypeId DN="Fødselsnummer" S="2.16.578.1.12.4.1.1.8116" V="FNR"/>
                              </DebitorId>
                            </Identifisering>
                            <Trekk>
                              <KodeTrekktype DN="Vederlagstrekk" V="VEDE"/>
                              <KodeTrekkAlternativ DN="Løpende trekk månedssats" V="LOPM"/>
                              <Sats V="21573"/>
                            </Trekk>
                            <Periode><PeriodeFomDato>2026-04-01</PeriodeFomDato></Periode>
                            <Kreditor><TSSId>tssId</TSSId></Kreditor>
                          </InnrapporteringTrekk>
                        </Content>
                      </RefDoc>
                    </Document>
                  </MsgHead>
      responses:
        "202":
          description: Meldingen er mottatt og sendt til behandling
          headers:
            Location:
              description: Relativ URL til statusressursen for den innsendte meldingen. ID-en er en UUID.
              schema:
                type: string
              example: /v1/innrapportering/7f41c4e9-b6bd-44a3-822b-622332b4e421
        "400":
          description: Forespørselen mangler påkrevd innhold eller har feil Content-Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Content-Type must be application/xml"
        "401":
          description: Manglende eller ugyldig Maskinporten-token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Unauthorized"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Forbidden"
        "422":
          description: XML-innholdet er ikke gyldig i henhold til forventet skjema
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Invalid XML format"
        "500":
          description: Uventet feil på tjenersiden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Unexpected error"

  /v1/innrapportering/{id}:
    get:
      summary: Hent behandlingsstatus
      description: |
        Returnerer nåværende behandlingsstatus for en innsendt melding.
        ID-en hentes fra `Location`-headeren returnert av `POST /v1/innrapportering`.

        Send `Accept: application/xml` for å motta den rå XML-responsen (base64-dekodert) direkte
        når meldingen er ferdigbehandlet (`ACCEPTED` eller `REJECTED`).
        XML-innholdet følger skjemaet `InnrapporteringTrekk-2010-02-04.xsd`.
        Dersom meldingen ennå er `PENDING` returneres vanlig JSON uavhengig av `Accept`-headeren.
      operationId: getMessageStatus
      externalDocs:
        description: XML-skjema for responsen (InnrapporteringTrekk-2010-02-04.xsd)
        url: /schemas/InnrapporteringTrekk-2010-02-04.xsd
      security:
        - maskinporten: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID for meldingen, returnert i `Location`-headeren fra POST-kallet
          schema:
            type: string
            format: uuid
            example: 7f41c4e9-b6bd-44a3-822b-622332b4e421
      responses:
        "200":
          description: Nåværende behandlingsstatus for meldingen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageStatus"
            application/xml:
              schema:
                type: string
                description: |
                  Rå XML-respons (base64-dekodert `responseXml`), kun tilgjengelig når status er `ACCEPTED` eller `REJECTED`.
                  XML-innholdet følger skjemaet definert i `InnrapporteringTrekk-2010-02-04.xsd`
                  (tilgjengelig på `/schemas/InnrapporteringTrekk-2010-02-04.xsd`).
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                <InnrapporteringTrekk xmlns="http://www.kith.no/xmlstds/nav/innrapporteringtrekk/2010-02-04">
                  ...
                </InnrapporteringTrekk>
        "401":
          description: Manglende eller ugyldig Maskinporten-token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Unauthorized"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Forbidden"
        "404":
          description: Ingen melding funnet med oppgitt ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "No message found with the given ID"
        "500":
          description: Uventet feil på tjenersiden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Unexpected error"

components:
  securitySchemes:
    maskinporten:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Maskinporten JWT-token med scope `nav:utbetaling/trekkopplysning/innmelding`.
        Se [Maskinporten-dokumentasjonen](https://docs.digdir.no/docs/Maskinporten/) for informasjon om hvordan man anskaffer token.

  schemas:
    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Beskrivelse av feilen

    MessageStatus:
      type: object
      required:
        - id
        - status
        - submittedAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unik identifikator for innmeldingen, tildelt av tjenesten ved POST.
          example: "7f41c4e9-b6bd-44a3-822b-622332b4e421"
        status:
          type: string
          description: Maskinlesbar behandlingsstatus
          enum:
            - PENDING
            - ACCEPTED
            - REJECTED
          example: PENDING
        submittedAt:
          type: string
          format: date-time
          description: Tidspunkt da meldingen ble mottatt (ISO-8601). Endres aldri.
          example: "2026-05-08T12:00:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Tidspunkt for siste statusendring (ISO-8601). Lik `submittedAt` så lenge status er `PENDING`.
          example: "2026-05-08T12:05:00Z"
        rejectionDescription:
          type: string
          description: Beskrivelse av årsak til avvisning. Settes kun når status er `REJECTED`.
          example: Trekkvedtak finnes fra før
        rejectionCode:
          type: string
          description: Maskinlesbar kode for avvisningsårsak. Settes kun når status er `REJECTED`.
          example: B720007F
        responseXml:
          type: string
          format: byte
          description: |
            Base64-kodet respons som XML.
            Settes kun når status er `ACCEPTED` eller `REJECTED`.
          example: PEVJRmVsbGVzZm9ybWF0PjxzdGF0dXM+T0s8L3N0YXR1cz48L0VJRmVsbGVzZm9ybWF0Pg==
